<app-header></app-header>
<div style="text-align:center; margin-bottom: 10px;" class="eform">
  <h3 class="text-info page-header" style="margin-bottom:30px;">Employee Reg Form</h3>
  <form #eform="ngForm" (ngSubmit)="onSubmit(eform)" style="display: flex; flex-direction: column; align-items: center;" >

    <div class="form-group" style="margin-bottom: 30px; display: flex; align-items: center;">
      <label style=" min-width: 100px; padding-right:70px ; ">Name</label>
      <input type="text" name="name" placeholder="Enter your name" [(ngModel)]="user.name" #name="ngModel" required pattern="[A-Za-z]+" maxlength="20"  style="flex: 1;" style="width: 180px;">
      <div *ngIf="((name.dirty &&  name.invalid)||(name.touched &&  name.invalid))" class="text-danger">
        <div *ngIf="name.errors?.['pattern']">Name must contain alphabets only</div>
        <span *ngIf="name.errors?.['required']">Name is required</span>
        <span *ngIf="name.errors?.['maxlength']">Name should not beyond 20 characters</span>
      </div>

    </div>

    <div class="form-group" style="margin-bottom: 30px; display: flex; align-items: center;">
      <label style=" min-width: 100px; padding-right:30px ; ">Employee ID</label>
      <input  [(ngModel)]="user.id" type="number" placeholder="Enter employee ID" name="id" #id="ngModel"  required style="width: 180px;">
      <div *ngIf="eform.controls['id'] && (eform.controls['id'].dirty || eform.controls['id'].touched)" class="text-danger">
        <span *ngIf="+user.id > 10000 && !eform.controls['id'].hasError('required')">Enter a valid Employee ID</span>
        <span *ngIf="id.errors?.['required']">Employee ID is required</span>
      </div>

  </div>


    <div class="form-group" style="margin-bottom:20px; display: flex; align-items: center;">
      <label style=" min-width: 100px; padding-right:80px ;">DOB</label>
      <input type="date" name="dob" [(ngModel)]="user.dob" #dob="ngModel" required (change)="calculateAge()" style="flex: 1;" style="width: 180px;">
      <span *ngIf="user.dob && age !== null" style="margin-left: 10px;">Age: {{ age }}</span>
      <div *ngIf="((dob.dirty &&  dob.invalid)||(dob.touched &&  dob.invalid))" class="text-danger">
        <span *ngIf="dob.errors?.['required']">DOB is required</span>
      </div>
    </div>

    <div class="form-group" style="margin-bottom: 20px; display: flex; align-items: center;">
      <label style="min-width: 100px; padding-right:80px ;">Dept</label>
      <select type="checkbox" name="dept" [(ngModel)]="user.dept" #dept="ngModel" required style="flex: 1;" style="width: 180px;">
        <option *ngFor="let dep of Dept">{{dep}}</option>
      </select>
      <div *ngIf="((dept.dirty &&  dept.invalid)||(dept.touched &&  dept.invalid))" class="text-danger">
        <span *ngIf="dept.errors?.['pattern']">Department must contain uppercase alphabets only</span>
      </div>
    </div>

    <div class="form-group" style="margin-bottom:20px; display: flex; align-items: center;">
      <label style=" min-width: 100px; padding-right:80px ;">Salary</label>
      <input type="text" name="salary" placeholder="Enter your Salary" [(ngModel)]="user.salary" #salary="ngModel" required pattern="[0-9]+" style="flex: 1;" style="width: 180px;">
      <div *ngIf="((salary.dirty &&  salary.invalid)||(salary.touched &&  salary.invalid))" class="text-danger">
        <span *ngIf="salary.errors?.['pattern']">Salary is invalid</span>
        <span *ngIf="salary.errors?.['required']">Salary is required</span>
      </div>
    </div>

    <div class="form-group" style="margin-bottom:20px; display: flex; align-items: center;">
      <label style="min-width: 100px; padding-right:60px ;">Address</label>
      <textarea style="min-width: 100px;" type="text" name="address" placeholder="Enter your Address" [(ngModel)]="user.address" #address="ngModel" required style="flex: 1;" style="width: 180px;"></textarea>
      <div *ngIf="((address.dirty &&  address.invalid)||(address.touched &&  address.invalid))" class="text-danger">
        <span *ngIf="address.errors?.['required']">Address is required</span>
      </div>
    </div>

    <div class="form-group" style="margin-bottom:20px; display: flex; align-items: center;">
      <label style="min-width: 100px; ">Had Experience?</label>
      <br>
      <span>Yes</span>
      <input type="radio" name="experience" [(ngModel)]="user.experience" value="Yes" required>
      <br>
      <span>No</span>
      <input type="radio" name="experience" [(ngModel)]="user.experience" value="No" required>
      <div *ngIf="eform.submitted && !eform.controls['experience'].valid" class="text-danger">
        <span>Select Your Experience</span>
      </div>
    </div>

    <div class="form-group">
      <button type="button" (click)="onClick(); eform.reset()" [disabled]="!eform.valid">Submit</button>
    </div>

  </form>
</div>
<div class="Data">
<table *ngIf="userArray.length > 0 else noData" class="col-md-5" style="border: 1px solid black;">

  <thead>
    <th style="border: 1px solid black;">S.No</th>
    <th style="border: 1px solid black;">Name</th>
    <th style="border: 1px solid black;">ID</th>
    <th style="border: 1px solid black;">DOB</th>
    <th style="border: 1px solid black;">Age</th>
    <th style="border: 1px solid black;">Dept</th>
    <th style="border: 1px solid black;">Salary</th>
    <th style="border: 1px solid black;">Experience</th>
    <th style="border: 1px solid black;">Action</th>
  </thead>

  <tbody *ngFor="let user of userArray; let index = index" style="border: 1px solid black;">
    <td style="border: 1px solid black;">{{ index + 1 }}</td>
    <td style="border: 1px solid black;">{{ user?.name }}</td>
    <td style="border: 1px solid black;">{{ user?.id }}</td>
    <td style="border: 1px solid black;">{{ user?.dob }}</td>
    <td style="border: 1px solid black;">{{ user?.age }}</td>
    <td style="border: 1px solid black;">{{ user?.dept }}</td>
    <td style="border: 1px solid black;">{{ user?.salary }}</td>
    <td style="border: 1px solid black;">{{ user?.experience }}</td>
    <td style="border: 1px solid black;"><button (click)="onDelete(index)">Delete</button></td>
  </tbody>

</table>
<ng-template #noData>
  <h3 style="width: 360px; text-align: center;">No Data shown</h3>
</ng-template>
</div>

<app-footer></app-footer>
